.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 11.8rem);
  gap: 5rem;

  &__heading {
    font-weight: 600;
    font-size: 3.6rem;
  }

  &__subheading {
    font-size: 2rem;
    font-weight: 400;
    max-width: 70rem;
    width: 100%;
    margin: 2rem 0;
  }

  &__buttons {
    display: flex;
    gap: 2rem;
  }

  &__btn {
    cursor: pointer;
    border: 1px solid #000;
    background: none;
    color: #000;
    padding: 1.5rem 2.7rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
    font-size: 1.6rem;

    &--red {
      background: #eb5757;
      color: #fff;
      border: none;

      &:hover {
        background: #c53030;
      }
    }

    &--black {
      &:hover {
        background: #212227;
        color: #fff;
      }
    }
  }
}
