.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;

  &__logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    text-transform: capitalize;

    p {
      margin-left: 0.7rem;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    gap: 5rem;
  }

  &__link {
    font-weight: 300;
    font-size: 1.8rem;
    color: rgb(93, 93, 93);
    cursor: pointer;
    text-transform: capitalize;

    &--active {
      font-weight: 400;
      color: #000;
    }

    &:hover {
      color: #000;
    }

    &--red {
      cursor: pointer;
      background: #eb5757;
      color: #fff;
      padding: 1.5rem 2.7rem;
      border-radius: 0.5rem;
      transition: all 0.2s;

      &:hover {
        color: #fff;
        background: #c53030;
      }
    }
  }
}
