.container {
  max-width: 144rem;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
}

.col {
  flex: 1;
  text-align: left;
}

.select-item-box {
  margin-top: 3rem;
  border: 1px solid #e7e7e7;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  color: #ccc;
  padding: 40px;
}

.component-holder {
  position: relative;
}

.component-holder--settings {
  position: absolute;
  font-size: 12px;
  height: 20px;
  top: 0;
  right: 0;
}
