.container {
    width: 1500px;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
}

.col {
    flex: 1;
    text-align: left;
}

.select-item-box {
    border: dashed 2px #ddd;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    color: #ccc;
    padding: 40px;
}

.component-holder {
    position: relative;
}

.component-holder--settings {
    position: absolute;
    font-size: 12px;
    height: 20px;
    top: 0;
    right: 0;
}
