.petition {
  margin-top: 18rem;

  &__container {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &__item {
    padding: 4rem 3.5rem;
    background: #f9f9f9;

    border-radius: 0.5rem;
    display: flex;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 600;
  }

  &__number {
    font-size: 3.6rem;
    color: #eb5757;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3.5rem;
    border-right: 1px solid #aaaaaa;
    margin-right: 2rem;
  }

  &__desc {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 300;
    color: rgb(49, 49, 49);
  }

  &__more {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.6rem;
    margin-top: 2rem;
    color: #000;
    cursor: pointer;

    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
