.form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    p {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }

  &__heading {
    font-size: 2rem;
    font-weight: 600;
  }

  &__row {
    width: 100%;
    display: flex;
    background: #f5f5f5;
    border-radius: 0.5rem;
    padding: 3rem 5rem;

    &:first-child {
      border-top: 1rem solid #eb5757;
    }
  }

  &__content {
    flex: 1;
    text-align: left;
  }

  .typo span {
    font-size: 1.4rem;
  }

  //   &__button span {
  //     .MuiButton-label {
  //       color: #fff;
  //     }

  //     .MuiTouchRipple-root {
  //       background: #eb5757;
  //     }

  //     color: #fff;

  //     display: inline-block;
  //   }
}

.select-item-box {
  border: dashed 2px #ddd;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  color: #ccc;
  padding: 40px;
}

.component-holder {
  position: relative;
}

.component-holder--settings {
  position: absolute;
  font-size: 12px;
  height: 20px;
  top: 0;
  right: 0;
}
