.popular {
  margin-top: 12rem;

  &__container {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
  }

  &__more {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.6rem;
    margin-top: 2rem;
    color: #000;
    cursor: pointer;

    position: relative;
    left: 100%;
    transform: translateX(-100%);

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  &__search {
    padding: 2rem 2.5rem;
    width: 60rem;
    height: 7rem;
    border: 1px solid #212227;
    border-radius: 0.7rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      background: none;
      outline: none;
      border: none;
      width: 70%;
      &:placeholder {
        font-size: 1.6rem;
        color: rgb(117, 117, 117);
      }
    }
  }
}
